version: '3'
services:
    tarnishserver:
        build: ./tarnish-server/
        environment:
            - redis_backend=redis://host.docker.internal:6379/0
            - aws_secret_key=REPLACE_ME_AWS_SECRET_KEY_WITH_S3_WRITE_PERMS
            - aws_access_key=REPLACE_ME_AWS_ACCESS_KEY_WITH_S3_WRITE_PERMS
            - extension_s3_bucket=REPLACE_ME_WITH_EXTENSIONS_S3
            - debugging=true
            - local=true
            - frontend_origin=http://localhost:8001
        ports:
            - "80:80"
        extra_hosts:
            - "host.docker.internal:host-gateway"
    tarnishworker:
        build: ./tarnish-worker/
        environment:
            - redis_backend=redis://host.docker.internal:6379/0
            - aws_secret_key=REPLACE_ME_AWS_SECRET_KEY_WITH_S3_WRITE_PERMS
            - aws_access_key=REPLACE_ME_AWS_ACCESS_KEY_WITH_S3_WRITE_PERMS
            - extension_s3_bucket=REPLACE_ME_WITH_EXTENSIONS_S3
            - local=true
            - frontend_origin=http://localhost:8001
            - server_dir=REPLACE_ME_WITH_UPDOG_DIRECTORY
        extra_hosts:
            - "host.docker.internal:host-gateway"
